# Ignore everything
**

# Allow files and directories
!/src/**
!/robots/**
!/public/**
!/build-utils/**
!/package.json
!/package-lock.json
!/.npmrc
!/babel.config.cjs
!/vite.config.js
!/index.html

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store